:root {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #c8d1d6;
    background-color: rgb(24, 24, 24);
    text-rendering: optimizeLegibility;
}

.listadousuarios {
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(to right, #ff5f6d, #ffc371);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.listadousuarios:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ff5f6d;
    border-radius: 50%;
    z-index: -1;
}



.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    display: inline-block;
    max-width: 100%;
}

.users {
    margin: 2rem;
    text-align: center;
}

.mail:hover {
    color: #535bf2;
    text-shadow: 0px 0px 5px #614ad3;
}

.card:hover {
    transform: scale(1.2, 1.1);
    box-shadow: 5px 5px 30px 15px rgba(65, 233, 245, 0.25),
        -5px -5px 30px 15px rgba(83, 6, 155, 0.22)
}